// Variables
$primary-color: #4CAF50;
$secondary-color: #008CBA;
$text-color: #fff;
$button-padding: 10px 20px;
$button-border-radius: 5px;
$button-margin: 10px;

// General Styles
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

// MainApp Styles
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: $primary-color;
  border: none;
  color: $text-color;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: $button-margin;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:first-of-type {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}
