.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  // width: 40%;
  .Main-headding{
    width: 80%;
    text-align: center;
    height: 15%;
    font-size: 50px;
    color: gray;

  }

  .link {
    margin: 10px 0;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;

    .button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      width: 40%;
      height: 100%;
      cursor: pointer;
      transition: background-color 0.3s;

      &.teacher-button {
        background-color: #4CAF50;
        color: white;

        &:hover {
          background-color: #45a049;
        }
      }

      &.student-button {
        background-color: #008CBA;
        color: white;

        &:hover {
          background-color: #007bb5;
        }
      }
    }
  }
}
