// TeacherLogin.scss

.tech_login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    weight:100%;
      border: 2px solid black;
  }
  
  .tech_login_container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tech_login_input {
    margin-bottom: 20px;
  }
  
  .tech_login_label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .tech_login_input_field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .tech_login_button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tech_login_button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tech_login_button:hover {
    background-color: #0056b3;
  }
  
  .tech_login_signup_link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .tech_login_signup_link:hover {
    text-decoration: underline;
  }
  