// AddQuestion.scss

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    align-self: flex-start;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

.option-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    .option-input {
        flex: 1;
    }

    .remove-button {
        background-color: #1f1516;
        color: #fff;
        border: none;
        padding: 5px 15px 4px 14px;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: red;
        }
    }
}

.button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: #218838;
    }
}
